
option:hover {
  background-color: #5f437f;
  box-shadow: 0 0 10px 100px #5f437f inset;
  color: floralwhite;
  padding: 10px 0;
  appearance: none;
  -webkit-appearance: none;
}
select {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding: 0.675em 6em 0.675em 1em;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
