@media only screen and (max-width: 600px) {
    .evidence__container {
      padding-top: 70px !important; 
    }
  }
  .evidence__container{
    padding-top: 20px;
  }
  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
