@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'variables';
@import 'functions';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.ff-sans {
  font-family: var(--font-dm-sans);
}

.ff-montserrat {
  font-family: var(--font-montserrat);
}

body {
  color: rgb(var(--foreground-rgb));
  height: 100vh;
  display: flex;
  flex-direction: column;
  @extend .ff-sans;
}

.content {
  flex: 1 0 auto;
}

.heading-style {
  font-size: toRem(52);
  font-weight: 700;
  line-height: toRem(76);
}

.font-montserra-heading {
  @extend .ff-montserrat;
  @extend .heading-style;
}

.font-dm-sans-heading {
  color: $primary;
  @extend .ff-sans;
  @extend .heading-style;
}

.font-dm-sans-text {
  color: rgba(58, 58, 58, 0.75);
  @extend .ff-sans;
  font-size: toRem(18);
  font-weight: 400;
}

.btn {
  @apply rounded;
  @apply h-10;
  min-height: 2.5rem;
}
