.group:hover svg g path#Icon {
  fill: white;
}
.group:hover .icon path {
  fill: white;
}
.group:hover {
  background-color: #5f437f;
  color: white;
}

.activeGroup svg g path#Icon {
  fill: #5f437f;
  stroke: #5f437f;
}
.activeGroup .icon path {
  fill: #5f437f;
  stroke: #5f437f;
}
.activeGroup:hover svg g path#Icon {
  fill: white !important;
  stroke: #5f437f;
}
.activeGroup:hover .icon path {
  fill: white !important;
  stroke: #5f437f;
}
.activeGroup:hover {
  background-color: #5f437f;
  fill: white;
  color: white;
}
