$prefix: link-with-img;

.#{$prefix} {
  .content-cta {
    padding: 0 10%;
  }

  .img-container {
    .cover-img {
      width: 100%;
      height: 100%;
      height: 100vh;
      object-fit: cover;
    }
  }
}
