$prefix: link-with-img;

.#{$prefix} {
  .content {
    max-width: 20.5rem;
    @media screen and (min-width: 768px) {
      max-width: 37.5rem;
    }
  }
  .img-container {
    height: 90vh;
    .cover-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
