.rounded {
  border-radius: 125px;
}

html,
body {
  height: 100vh;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

ul li::before {
  /* Unicode for a bullet */
  content: "\2022";
  /* Styles for Indentation*/
  color: #7e639e;
  display: inline-block;
  font-weight: bolder;
  width: 1em;
  font-size: 1.5em;
  margin-left: 0.5em;
}
